// mostly hacks right now due to semantic being in LESS

.top-margin {
  margin-top: 30px !important; // ugh
}

p#profile-bio,
p#profile-bio-follow {
  margin: 0;
  margin-top: 5px;
  font-size: 20px;
  color: #5A5A5A;
}

h1#profile-username {
  margin-bottom: 0;
}

a#update-link {
  color: #999;
}

a#update-link:hover {
  text-decoration: underline;
}

h1#single-update-content {
  font-weight: 300;
}

hr {
  border: 0;
  border-bottom: 1px lightgray solid;
}

#updateModal.fixed.top {
  top: 51px;
}
