.ui.vertical.fluid.menu
  a.teal.item(class='{{isActivePath "/timeline"}}' href='/timeline')
    | Timeline
  a.item(class='{{isActivePath "/notifications"}}' href='/notifications')
    | Notifications
  a.item(href='/logout')
    | Logout

.ui.segment
  form.ui.form#updateModalForm
    .field
      label New Update
      textarea(rows='2' name='content')
    button.ui.button(type='submit') Post
