if currentUser
  .ui.doubling.stackable.grid.container.top-margin
    .twelve.wide.column
      +Template.dynamic template=main
    .four.wide.column
      +Template.dynamic template=top
    .sixteen.wide.column.top-margin
      .ui.progress#site-progress(data-percent='15')
        .bar
          .progress
        .label Site Progress
      script $('#site-progress').progress()
else
  .ui.container.top-margin
    +Template.dynamic template=main
