.ui.blue.top.fixed.menu
  .header.item nice alpha
  a.item(class='{{isActivePath "/timeline"}}' href='/timeline')
    | Timeline
  a.disabled.item
    | Notifications
  .right.menu
    a.item(href='/u/#{currentUser.username}') @#{currentUser.username}
    a.item(href='/logout')
      | Logout
