//- TODO: rename this template

.ui.blue.top.fixed.menu
  .header.item nice alpha
  a.item(class='{{isActivePath "/timeline"}}' href='/timeline')
    | Timeline
  a.item(class='{{isActivePath "/notifications"}}' href='/notifications')
    | Notifications
  a.right.item(href='/logout')
    | Logout
