.four.wide.column
  .ui.sticky.segment#updateModal
    form.ui.form#updateModalForm
      .field
        label New Update
        textarea(rows='2' name='content')
      button.ui.button(type='submit') Post
