.ui.vertical.menu
  a.item(class='{{isActivePath "/timeline"}}' href='/timeline')
    | Timeline
  a.item(class='{{isActivePath "/inbox"}}' href='/inbox')
    | Inbox
  a.item(href='/logout')
    | Logout
