.ui.vertical.menu
  a.item(class='{{isActivePath "/timeline"}}' href='/timeline')
    | Timeline
  a.item(class='{{isActivePath "/notifications"}}' href='/notifications')
    | Notifications
  a.item(href='/logout')
    | Logout
