.menu
  a.menu-item(class='{{isActivePath "/"}}' href='/') 
    span.octicon.octicon-home
    | Timeline
  a.menu-item(class='{{isActivePath "/inbox"}}' href='/inbox') 
    span.octicon.octicon-mail
    | Inbox
