if currentUser
  +dashboard
else
  h1 Nice.
  //- TODO: reword this and add a more detailed explaination while we're at it
  p.lead.
    nice is a minimal, invite-only, Twitter clone. There's zero unneeded
    features, only the stuff you need. It's focused on performance and 
    user-friendliness.
  p.lead.
    nice is currently in #[i closed alpha]. If you want an invite, contact me
    #[a(href='http://twitter.com/arrowfunction') on Twitter].
  a.btn(href='/login' role='button') Login
