.container
  .columns
    if currentUser
      .one-fifth.column
        +Template.dynamic template=top
      .four-fifths.column
        +Template.dynamic template=main
    else
      .five-fifths.column
        +Template.dynamic template=main
