if currentUser
  .ui.doubling.stackable.grid.container.top-margin
    .five.wide.column
      +Template.dynamic template=top
    .eleven.wide.column
      +Template.dynamic template=main
else
  .ui.container.top-margin
    +Template.dynamic template=main
