if Template.subscriptionsReady
  .ui.basic.segment
    with update
      .ui.tiny.image
        img(src='{{gravatar user.email}}')
      span#single-update-name #[a(href='/u/#{user.username}')= user.username]
    
      h1#single-update-content= content
else
  +spinner
