if Template.subscriptionsReady
  .ui.basic.segment
    with update
      .ui.link.items
        a.item(href='/u/#{user.username}')
          .ui.tiny.image
            img(src='{{gravatar user.email}}')
          .middle.aligned.content
            .header= user.username
            .description.grey on {{timestamp createdAt}}
    
      h1#single-update-content= content
      
      if currentUser
        br
        form.ui.form#submitReply
          .field
            textarea(name='reply' rows='3' placeholder='Type your reply...')
          button.ui.button(type='submit') Reply
else
  +spinner
