h1 Rules
.ui.big.bulleted.list
	.item Be a nice and respectful person.
	.item Abusive behavior is not tolerated.
	.item We're here to help: #[a(href='mailto:nice@eml.cc') nice@eml.cc]
	.item.
		Failure to comply with these rules will result in expulsion from this
		community.
