if Template.subscriptionsReady
  with user
    .columns
      .two-fifths.column
        img.avatar(width='100' height='100' src='{{gravatar(emails)}}')
      .three-fifths.column
        h1= username
        .lead is cool
    .blankslate
      +autoForm collection='Questions' id='askSingleQuestion' type='insert'
        h2 Ask #{username} a question!
        +afFieldInput type='textarea' placeholder='Ask a question!' class='input-block'
        br
        button.btn.btn-primary(type='submit') Ask
else
  p.lead Loading... ;)
